<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dal.dao.NoodlesTypeMapper">
  <resultMap id="BaseResultMap" type="dal.model.NoodlesType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_type_code" jdbcType="VARCHAR" property="parentTypeCode" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="dal.model.NoodlesType">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type_code, name, parent_type_code
  </sql>
  <sql id="Blob_Column_List">
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from noodles_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from noodles_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="dal.model.NoodlesType">
    insert into noodles_type (id, type_code, name, 
      parent_type_code, remark)
    values (#{id,jdbcType=INTEGER}, #{typeCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{parentTypeCode,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="dal.model.NoodlesType">
    insert into noodles_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeCode != null">
        type_code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentTypeCode != null">
        parent_type_code,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeCode != null">
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTypeCode != null">
        #{parentTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="dal.model.NoodlesType">
    update noodles_type
    <set>
      <if test="typeCode != null">
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTypeCode != null">
        parent_type_code = #{parentTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="dal.model.NoodlesType">
    update noodles_type
    set type_code = #{typeCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_type_code = #{parentTypeCode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="dal.model.NoodlesType">
    update noodles_type
    set type_code = #{typeCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_type_code = #{parentTypeCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="dal.model.NoodlesType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_type_code" jdbcType="VARCHAR" property="parentTypeCode" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="dal.model.NoodlesType">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type_code, name, parent_type_code
  </sql>
  <sql id="Blob_Column_List">
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from noodles_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from noodles_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="dal.model.NoodlesType">
    insert into noodles_type (id, type_code, name, 
      parent_type_code, remark)
    values (#{id,jdbcType=INTEGER}, #{typeCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{parentTypeCode,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="dal.model.NoodlesType">
    insert into noodles_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeCode != null">
        type_code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentTypeCode != null">
        parent_type_code,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeCode != null">
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTypeCode != null">
        #{parentTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="dal.model.NoodlesType">
    update noodles_type
    <set>
      <if test="typeCode != null">
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTypeCode != null">
        parent_type_code = #{parentTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="dal.model.NoodlesType">
    update noodles_type
    set type_code = #{typeCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_type_code = #{parentTypeCode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="dal.model.NoodlesType">
    update noodles_type
    set type_code = #{typeCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_type_code = #{parentTypeCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="dal.model.NoodlesType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_type_code" jdbcType="VARCHAR" property="parentTypeCode" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="dal.model.NoodlesType">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type_code, name, parent_type_code
  </sql>
  <sql id="Blob_Column_List">
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from noodles_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from noodles_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="dal.model.NoodlesType">
    insert into noodles_type (id, type_code, name, 
      parent_type_code, remark)
    values (#{id,jdbcType=INTEGER}, #{typeCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{parentTypeCode,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="dal.model.NoodlesType">
    insert into noodles_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeCode != null">
        type_code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentTypeCode != null">
        parent_type_code,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeCode != null">
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTypeCode != null">
        #{parentTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="dal.model.NoodlesType">
    update noodles_type
    <set>
      <if test="typeCode != null">
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTypeCode != null">
        parent_type_code = #{parentTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="dal.model.NoodlesType">
    update noodles_type
    set type_code = #{typeCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_type_code = #{parentTypeCode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="dal.model.NoodlesType">
    update noodles_type
    set type_code = #{typeCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_type_code = #{parentTypeCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="dal.model.NoodlesType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_type_code" jdbcType="VARCHAR" property="parentTypeCode" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="dal.model.NoodlesType">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type_code, name, parent_type_code
  </sql>
  <sql id="Blob_Column_List">
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from noodles_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from noodles_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="dal.model.NoodlesType">
    insert into noodles_type (id, type_code, name, 
      parent_type_code, remark)
    values (#{id,jdbcType=INTEGER}, #{typeCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{parentTypeCode,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="dal.model.NoodlesType">
    insert into noodles_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeCode != null">
        type_code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentTypeCode != null">
        parent_type_code,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeCode != null">
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTypeCode != null">
        #{parentTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="dal.model.NoodlesType">
    update noodles_type
    <set>
      <if test="typeCode != null">
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTypeCode != null">
        parent_type_code = #{parentTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="dal.model.NoodlesType">
    update noodles_type
    set type_code = #{typeCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_type_code = #{parentTypeCode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="dal.model.NoodlesType">
    update noodles_type
    set type_code = #{typeCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_type_code = #{parentTypeCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="dal.model.NoodlesType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_type_code" jdbcType="VARCHAR" property="parentTypeCode" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="dal.model.NoodlesType">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type_code, name, parent_type_code
  </sql>
  <sql id="Blob_Column_List">
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from noodles_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from noodles_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="dal.model.NoodlesType">
    insert into noodles_type (id, type_code, name, 
      parent_type_code, remark)
    values (#{id,jdbcType=INTEGER}, #{typeCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{parentTypeCode,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="dal.model.NoodlesType">
    insert into noodles_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeCode != null">
        type_code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentTypeCode != null">
        parent_type_code,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeCode != null">
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTypeCode != null">
        #{parentTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="dal.model.NoodlesType">
    update noodles_type
    <set>
      <if test="typeCode != null">
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTypeCode != null">
        parent_type_code = #{parentTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="dal.model.NoodlesType">
    update noodles_type
    set type_code = #{typeCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_type_code = #{parentTypeCode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="dal.model.NoodlesType">
    update noodles_type
    set type_code = #{typeCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_type_code = #{parentTypeCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="dal.model.NoodlesType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_type_code" jdbcType="VARCHAR" property="parentTypeCode" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="dal.model.NoodlesType">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type_code, name, parent_type_code
  </sql>
  <sql id="Blob_Column_List">
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from noodles_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from noodles_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="dal.model.NoodlesType">
    insert into noodles_type (id, type_code, name, 
      parent_type_code, remark)
    values (#{id,jdbcType=INTEGER}, #{typeCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{parentTypeCode,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="dal.model.NoodlesType">
    insert into noodles_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeCode != null">
        type_code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentTypeCode != null">
        parent_type_code,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeCode != null">
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTypeCode != null">
        #{parentTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="dal.model.NoodlesType">
    update noodles_type
    <set>
      <if test="typeCode != null">
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTypeCode != null">
        parent_type_code = #{parentTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="dal.model.NoodlesType">
    update noodles_type
    set type_code = #{typeCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_type_code = #{parentTypeCode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="dal.model.NoodlesType">
    update noodles_type
    set type_code = #{typeCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_type_code = #{parentTypeCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="dal.model.NoodlesType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_type_code" jdbcType="VARCHAR" property="parentTypeCode" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="dal.model.NoodlesType">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type_code, name, parent_type_code
  </sql>
  <sql id="Blob_Column_List">
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from noodles_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from noodles_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="dal.model.NoodlesType">
    insert into noodles_type (id, type_code, name, 
      parent_type_code, remark)
    values (#{id,jdbcType=INTEGER}, #{typeCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{parentTypeCode,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="dal.model.NoodlesType">
    insert into noodles_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeCode != null">
        type_code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentTypeCode != null">
        parent_type_code,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeCode != null">
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTypeCode != null">
        #{parentTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="dal.model.NoodlesType">
    update noodles_type
    <set>
      <if test="typeCode != null">
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTypeCode != null">
        parent_type_code = #{parentTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="dal.model.NoodlesType">
    update noodles_type
    set type_code = #{typeCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_type_code = #{parentTypeCode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="dal.model.NoodlesType">
    update noodles_type
    set type_code = #{typeCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_type_code = #{parentTypeCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="dal.model.NoodlesType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_type_code" jdbcType="VARCHAR" property="parentTypeCode" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="dal.model.NoodlesType">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type_code, name, parent_type_code
  </sql>
  <sql id="Blob_Column_List">
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from noodles_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from noodles_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="dal.model.NoodlesType">
    insert into noodles_type (id, type_code, name, 
      parent_type_code, remark)
    values (#{id,jdbcType=INTEGER}, #{typeCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{parentTypeCode,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="dal.model.NoodlesType">
    insert into noodles_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeCode != null">
        type_code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentTypeCode != null">
        parent_type_code,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeCode != null">
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTypeCode != null">
        #{parentTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="dal.model.NoodlesType">
    update noodles_type
    <set>
      <if test="typeCode != null">
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTypeCode != null">
        parent_type_code = #{parentTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="dal.model.NoodlesType">
    update noodles_type
    set type_code = #{typeCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_type_code = #{parentTypeCode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="dal.model.NoodlesType">
    update noodles_type
    set type_code = #{typeCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_type_code = #{parentTypeCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="dal.model.NoodlesType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_type_code" jdbcType="VARCHAR" property="parentTypeCode" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="dal.model.NoodlesType">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type_code, name, parent_type_code
  </sql>
  <sql id="Blob_Column_List">
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from noodles_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from noodles_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="dal.model.NoodlesType">
    insert into noodles_type (id, type_code, name, 
      parent_type_code, remark)
    values (#{id,jdbcType=INTEGER}, #{typeCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{parentTypeCode,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="dal.model.NoodlesType">
    insert into noodles_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeCode != null">
        type_code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentTypeCode != null">
        parent_type_code,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeCode != null">
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTypeCode != null">
        #{parentTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="dal.model.NoodlesType">
    update noodles_type
    <set>
      <if test="typeCode != null">
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTypeCode != null">
        parent_type_code = #{parentTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="dal.model.NoodlesType">
    update noodles_type
    set type_code = #{typeCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_type_code = #{parentTypeCode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="dal.model.NoodlesType">
    update noodles_type
    set type_code = #{typeCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_type_code = #{parentTypeCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>